<html>

<head>
    <title>
        HackUTA18
    </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/chart.js@2.7.1/dist/Chart.bundle.js"></script>
    <script src="https://unpkg.com/chartkick@2.3.3"></script>
    <script src="https://unpkg.com/vue-chartkick@0.2.1/dist/vue-chartkick.js"></script>
</head>

<body>
    <div id="app">

        <!-- TITLE -->
        <div class="title">
            <h1 class="header-text">Smart Journal</h1>
            <a v-on:click="display='activity'"><i class="fas fa-plus fa-2x"></i></a>
            <a v-on:click="display='profile'"><i class="far fa-user fa-2x"></i></a>
            <a v-on:click="display='chart';createChartData"><i class="fas fa-chart-pie fa-2x"></i></a>
            <a href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </div>

        <!-- PROFILE VIEW -->
        <div v-if="display=='profile'" class="profile">
            <h3 class="overview-text">Overview</h3>
            <div class="dateSelection">
                Year
                <select class="dropDown" v-model="selectedYear">
                    <option v-for="year in years" :value="year">{{year}}</option>
                </select>
                Month
                <select class="dropDown" v-model="selectedMonth">
                    <option v-for="month in months" :value="month">{{month}}</option>
                </select>
                Day
                <select class="dropDown" v-model="selectedDay">
                    <option v-for="day in days" :value="day">{{day}}</option>
                </select>
            </div>
            <blog-articles :dates-articles='datesArticles'></blog-articles>
            <div class="footer">
                <a>&copy Journal - Vektor Tech</a>
            </div>
        </div>

        <!-- CHART VIEW -->
        <div v-if="display=='chart'" class="chart">
            <h2>Today's Activity</h2>
            <pie-chart :data="chartData"></pie-chart>
            <line-chart :data="lineData"></line-chart>
        </div>

        <!-- ADD ACTIVITY -->
        <div v-if="display=='activity'" class="addActivity">
            From:<select class="dropDown" v-model="from">
                <option v-for="hour in time" :value="hour">{{hour}}</option>

            </select>
            To:<select class="dropDown" v-model="to">
                <option v-for="hour in time" :value="hour">{{hour}}</option>

            </select><br>
            Tag:<select class="dropDown" v-model="selectedTag">
                <option v-for="tag in allTags" :value="tag">{{tag.name}}</option>
                <input v-model='selectedActivity' class='activity-box' placeholder='Add Activity detail..'>
                <br>
                Productivity Level:<select class="dropDown" v-model="selectedLevel">
                    <option v-for="l in level" :value="l">{{l}}</option>
                </select><br>
                <button class="button" v-on:click="activityAdd">Add</button>
        </div>

    </div>

    <template id='my-template'>
        <div class='containerr'>
            <input v-model='searchQuery' class='search-box' placeholder='Search..'>
            <div class='timeline' v-if='anyArticle()'>
                <div v-for='(dateWithArticles, date) in searchedArticles'>
                    <div v-for='article in dateWithArticles' class='article'>
                        <div class='dot'>
                            <div class="hour">{{article.hour}} hr</div>
                        </div>
                        <p class='article-date'>{{ article.text }}</p>
                        <h3><a>{{ article.tag_name }}</a></h3>
                    </div>
                </div>
            </div>
            <p v-else>Not found.</p>
        </div>
    </template>
</body>
<script src="/static/index.js">































</script>
<link rel="stylesheet" href="/static/styles/style.css">

</html>