{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/styles/login.css">
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <form method="post" action="/login">
            <div class="header">
                <h1>Log In</h1>
            </div>
            <div class="name-group">
                <p>Username</p>
                <input autofocus type="text" name="username" placeholder="Username...">
            </div>
            <div class="pw-group">
                <p>Password</p>
                <input type="password" name="password" placeholder="Password...">
            </div>
            <div class="btn-group">
                <button class="button2" onclick="location.href='/register'" type="button">Register</button>
                <input class="button" type="submit" value="Log In">
            </div>
    </form>
{% endblock %}