<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/login.css">
</head>

<body>
    <form method="post" action="/login">
        
        <div class="container">
                <div class="logo1">
                        <img src="../data/SJ_logo.png" alt="smart_journal_logo" >
                </div>
            <div class="header">
                <h1>Log In</h1>
            </div>
            <div class="name-group">
                <p>Username</p>
                <input autofocus type="text" name="username" placeholder="Username...">
            </div>
            <div class="pw-group">
                <p>Password</p>
                <input type="password" name="password" placeholder="Password...">
            </div>
            <div class="btn-group">
                <button class="button2" onclick="location.href='/register'" type="button">Register</button>
                <input class="button" type="submit" value="Log In">
            </div>
        </div>
    </form>
</body>

</html>